{
    "parser": "babel-eslint",
    "extends": [        
        "eslint:recommended",        
        "airbnb-base"
    ],
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": 0,
        "import/extensions": 0,
        "linebreak-style": 0,
        "react/forbid-prop-types":0
    }            
}